<fro-navbar></fro-navbar>

<div class="container">
  <h1>Almacenes</h1>
  <form [formGroup]="addForm" class="form-container">
    <div class="form-group">
      <mat-form-field class="inputs">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          name="name"
          maxlength="100"
          placeholder="Nombre"
          formControlName="name"
        />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="inputs">
        <mat-label>Dirección</mat-label>
        <input
          matInput
          type="text"
          name="address"
          maxlength="200"
          placeholder="Dirección"
          formControlName="address"
        />
      </mat-form-field>
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" (click)="save(addForm)">Guardar</button>
    </div>
  </form>
</div>
