.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}


.table-container {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.table-wrapper {
  width: 100%;
  max-width: 1400px; /* Ajusta el valor según tus necesidades */
}